<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bank</title>
        <link rel="stylesheet" type = "text/css" href="/static/bank.css">
    </head>
    <body>
        <div class="banner">Bank</div>
        <div id="container">
            <div id="status"></div>
            <form id="signup-form" action="/signup" method="post">
                <input type="text" name="username" id="user" placeholder="Username" required>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <label for="balance">
                    Initial Balance: <span class="dollar-sign">$ </span>
                    <input class="amount-input" type="text" name="balance" id="balance" required>
                </label>
                <button class="signup-button">Create account</button>
            </form>
            <span>Already have an account? <a href="/login">Log In</a></span>
        </div>
        <script src="/static/bank.js"></script>
    </body>
</html>